.meet{
    color:#2522a6;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 50px ;
    font-size: 3em;
}

.thumbnail-about{
    text-align: center;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
    padding: 25px;
    background-color: #2522a6;
    color:#fff;
    border-radius: 10px;
}

i{
    font-size: 1.2em;
}

.thumbnail-about>img,.thumbnail-about-even>img{
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
    width: 150px;
    height: 150px;
}

.thumbnail-about-even{
    text-align: center;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
    padding: 25px;
    color:#fff;
    border-radius: 10px;
    background-color: #aa025a;
}

h5{
    font-weight: bold;
}


@media screen and (max-width: 768px){
    .meet{
      font-size: 2em;
      margin-bottom: 15px;
    }
    p{
      width: 100% !important;
      margin-bottom: 25px;
    }
    .thumbnail-about,.thumbnail-about-even{
        margin:15px auto;
        padding: 25px 15px 10px;
        width: 80%;
    }
}

@media screen and (min-width:769px) and (max-width: 992px){
    .meet{
      font-size: 2em;
      margin-bottom: 15px;
    }
    p{
      width: 100% !important;
      margin-bottom: 25px;
    }
    .thumbnail-about,.thumbnail-about-even{
        margin:15px auto;
        padding: 25px 15px 10px;
        width: 80%;
    }
    h5{
        font-size: 1.5em;
    }
    h6{
        font-size: 1.2em;
    }
    i{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1440px){
    .meet{
        color:#2522a6;
        font-weight: bold;
        text-align: center;
        margin: 10vh auto 50px ;
        font-size: 3em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: 0.8em;
    }
}