@font-face{
  src: url(./Assets/fonts/Wavehaus-158ExtraBold.otf);
  font-family: Wavehaus;
}

@font-face{
  src: url(./Assets/fonts/bold.otf);
  font-family: manrope;
  font-weight: bold;
}

@font-face{
  src: url(./Assets/fonts/light.otf);
  font-family: manrope;
  font-weight: lighter;
}

@font-face{
  src: url(./Assets/fonts/regular.otf);
  font-family: manrope;
  font-weight: normal;
}

html{
  height:100%;
}

body{
  margin: 0;
  font-size: 16px;
  font-family: manrope;
  overflow-x:hidden; 
}

p{
  font-weight: 300;
}

.navbar-default{
  background-color: transparent !important; 
  border: 0 !important;
  border-radius: 0 !important;
  padding:20px 50px;
}

.navbar-brand{
  color: #2522a6 !important; 
  font-weight: bold;
  font-size: 2em;
  font-family: Wavehaus;
}

.navbar-default .navbar-toggle {
  border: 0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2522A6;
}

.icon-bar:nth-child(3){
  width: 60%;
}

.icon-bar:nth-child(4){
  width: 70%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.App{
  text-align: center;
  background: url('./Assets/background-img.png');
  height: 100vh;
  background-position: -30% 75%;
}

img{
  max-width: 100%;
}

.tagline, .about-site{
  text-align: left;
  color:#2522A6;
}

.tagline{
  font-weight: bolder;
  margin-top:15vh;
}

.hero{
  margin-top:7vh;
}

.about-site{
  width: 80%;
}

.navbar-right>li>a{
  text-align: center;
  color: #fff !important;
  font-weight: bold;
}

.download-app{
  text-decoration: none;
  color: #fff;
  background-color: #2522A6;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: 30px;
  padding: 12px 25px;
}

.arrowdown{
  width: 25px;
}


@media screen and (max-width: 768px){
  .navbar-default{
    padding: 5px !important;
  }
  .navbar-right>li>a{
    color: #17165c !important;
  }
  .tagline, .hero{
    margin-top: 20px;
  }
  .App{
    background: none;
  }
  p{
    width: 100% !important;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1440px){
  .navbar-default{
    padding: 30px 60px !important;
  }
  .App{
    background-position: -50% 80%;
  }
  .hero{
    margin-top: 18vh;
  }
  body{
    font-size: 18px;
  }
  .tagline{
    margin-top: 23vh;
  }
  img{
    max-width: 110%;
  }
}

@media screen and (min-width: 1920px){
  .container{
    width: 80%;
  }
  .navbar-default{
    padding: 30px 0 !important;
  }
  .App{
    background-position: -200% 100%;
    background-repeat: no-repeat;
  }
  .hero{
    margin-top: 18vh;
  }
  body{
    font-size: 21px;
  }
  .tagline{
    margin-top: 23vh;
    font-size: 3em;
  }
  img{
    max-width: 120%;
  }
}

@media screen and (min-width: 2560px){
  .container{
    width: 80%;
  }
  .navbar-default{
    padding: 60px 0 !important;
  }
  .navbar-right>li>a{
    color: #17165c !important;
  }
  .App{
    background: none;    
  }
  .download-app{
    padding: 20px 40px;
    border-radius: 40px;
  }
  .hero{
    margin-top: 18vh;
  }
  body{
    font-size: 28px;
  }
  .tagline{
    margin-top: 23vh;
    font-size: 3em;
  }
  img{
    max-width: 120%;
  }
}




